# --- Python Basics ---
__pycache__/
*.py[cod]
.ipynb_checkpoints

# --- IGNORE HEAVY FOLDERS ---
dataset/
venv/
# --- SAFETY NET (Ignore all large model files anywhere) ---
# --- *.pth
*.pt
*.pkl
# Ignore python wheel installers
*.whl